#Titulo {
    color: rgb(0, 160, 16);
    font-size: 30px;

}
.lotus{
color: rgb(0, 160, 16);
font-size: 23px;

}


.Luzdocaminho{
    
    text-align: center;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    padding: 10px;
    text-align: center;
}


li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: 18px;
    padding: 10px;
    transition: 0.3s;
}

a:hover {
    background-color: hsl(120, 0%, 41%);
    border-radius: 10px;
}


#divimg {
    width: 80%;
    height: 300px;
    height: 100%;
    margin-top: 10px;
    margin-right: 150%;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 550px;
    margin: auto;
}

.flor{
    width: 100%;
    height: 550px;
   
    
}
#florbrancas{
    width: 60%;
    height: 100px;
    height: 50%;
    margin-top: 50px;
margin-left: 250px;
}

.titulo1 {
    font-size: 18px;
    width: auto;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
}

.texto1 {
    margin-left: 250px;
    margin-right: 250px;
    font-size: 18px;
}

.titulo2 {
    font-size: 18px;
    width: auto;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
    
}

.servicos {
    font-size: 18px;
    width: auto;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
} 
.servicos2 {
    font-size: 18px;
    width: auto;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
}
.servicos3 {
    font-size: 18px;
    width: auto;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
}
.servicos4 {
    font-size: 18px;
    width: auto;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
}
.servicos5 {
    font-size: 18px;
    width: auto;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
}
.servicos6 {
    font-size: 18px;
    width: auto;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
}
.titulo3{
    font-size: 18px;
    width: auto;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
}



#Comofunciona{
    font-size: 18px;
    justify-content: center;
    align-items: center;
}


#funcionamento{
    font-size: 18px;
    justify-content: center;
    align-items: center;
}


#serviçodeatendimento{
    font-size: 18px;
    justify-content: center;
    align-items: center;
}
.sessao1{
margin-left: 10px;
align-items: center;
text-align: left;
justify-content: center;
text-align: left ;
}
sessao2{
    margin-right: 20px;
    align-items: center;
    text-align: right;
}
